:root {
  --main-buttons-margin: 400px;
}



h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

h2 {
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


.top-div {
  background-color: blue;
  margin: -35px -8px 0;
  height: 200px;
}

.table-top {
  position: relative;
  margin-left: 790px;
  margin-top: -20px;
}

.flux-img-amount {
  width: 85px;
}

.diamond-img {
  margin-left: 50px;
  width: 55px;
}

.btn {
  width: 130px;
  height: 80px;
}

.table-buttons {
  margin: -10px;
}

.btn-p {
  margin-top: -17px;
}

.flux-img {
  position: relative;
  width: 550px;
  margin: -20px 0 0 690px;
}

#special {
  width: 141px;
}




@media screen and (max-width: 755px) {
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 10px;
    padding-top: 20px;
  }

  .flux-img-amount {
    width: 55px;
  }

  #flux-amount{
    font-size: 25px;
  }

  .diamond-img {
    margin-left: 50px;
    width: 30px;
  }

  #diamond-amount{
    font-size: 25px;
  }

  .img-div {
    width: 40px;
  }

  .top-div {
    background-color: blue;
    margin: -35px -8px 0;
    height: 130px;
    width: 265px;
  }

  .table-top {
    position: relative;
    margin-left: 20px;
    margin-top: -30px;
  }

  .flux-img {
    position: relative;
    width: 275px;
    margin: -50px 0 0 15px;
  }

  #upgrade {
    position: absolute;
    top: var(--main-buttons-margin);
    left: 5px;
    width: 60px;
    height: 70px;
    font-size: 8px;
  }

  .h3-head-click {
    position: absolute;
    font-size: 10px;
    top: 370px;
    left: 5px;
  }

  #idle {
    position: absolute;
    top: var(--main-buttons-margin);
    left: 70px;
    width: 60px;
    height: 70px;
    font-size: 8px;
  }

  .h3-head-idle {
    position: absolute;
    font-size: 10px;
    top: 370px;
    left: 75px;
  }

  #gamble {
    position: absolute;
    top: var(--main-buttons-margin);
    left: 135px;
    width: 60px;
    height: 70px;
    font-size: 8px;
  }

  .h3-head-gamble {
    position: absolute;
    font-size: 10px;
    top: 370px;
    left: 145px;
  }

  #special {
    position: absolute;
    top: var(--main-buttons-margin);
    left: 200px;
    width: 65px;
    height: 70px;
    font-size: 8px;
  }

  .h3-head-special {
    position: absolute;
    font-size: 10px;
    top: 370px;
    left: 212px;
  }

  .btn-p {
    margin-top: -12px;
  }
}